setuptools==54.2.0
black==21.5b0
coverage==5.5
flake8==3.9.1
geopandas==0.7.0
isort==5.9.1
numpy>=1.19.0
scipy>=1.7.1
python-dateutil==2.8.2
pandas>=1.2.0
tqdm==4.62.3
matplotlib==3.4.2
seaborn==0.11.2
python-dotenv==0.19.0
requests==2.24.0
usaddress-scourgify==0.2.4
CensusData==1.15
